#controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem 1rem;
  background-color: #1f2937da!important; /* fond foncé type Spotify */
  color: white;
  border-top: 1px solid #333;
  margin-bottom: 0!important;
}

#progress-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right,#1d47b9 0%, #555 0%);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-bottom: 6px;
  transition: background 0.3s ease;
  /* transition: none !important; */
}

#progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  border: 3px solid #1d47b9;
  cursor: pointer;
}

#progress-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  border: 2px solid white;
  cursor: pointer;
}



#controls-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#controls-layout .button {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #5f7da7;
  border: 2px solid #6588b8;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.25s ease;
}
#controls-layout .button:hover:not(.disabled) {
  background: #496081;
  border: 2px solid white;
}
#controls-layout .button.active:not(.disabled), #controls-center .button:active:not(.disabled) {
  background: #496081; /* le même effet que :hover */
  transform: scale(0.95); /* petit effet de clic visuel */
}
#controls-layout .button img {
  width: 24px;
  height: 24px;
}

#controls-left .button {
  width: 56px;
  height: 56px;
  border-radius: 4px solid blue;
  background: rgba(245, 245, 245, 0.219);
  padding: 8px;
}
#controls-left img {
  width: auto !important;
  height: auto !important;
}

/* Menu "Plus" */
#more-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#more-menu span {
  display: block;
  padding: 4px;
  border-radius: 4px;
  color: white;
}
#more-menu span:hover {
  background: #404e53;
}



#controls-center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 80px;
}


#replay-mode-button {
  margin-right: 24px !important;
}
#replay-mode-button.activated {
  background: #476388c5;
  border: 2px solid rgba(255, 255, 255, 0.438);
}
#replay-mode-button.activated img {
  content:url("../../ressources/images/replay-mode-button-enabled.png");
}
#replay-mode-button.deactivated img {
  content:url("../../ressources/images/replay-mode-button-disabled.png");
}

#replay-button, #forward-button {
  margin-right: 24px !important;
}

#pause-button {
  height: 68px!important;
  width: 68px!important;
  padding: 16px!important;
}
#pause-button img {
  height: auto!important;
  width: auto!important;
}

#rewind-button, #forward-button {
  height: 40px!important;
  width: 40px!important;
  padding: 8px!important;
}
#rewind-button img, #forward-button img {
  height: auto!important;
  width: auto!important;
}

#controls-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#volume-slider {
  width: 120px;
  /* color: black; */
}
#volume-button {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  transition: 0.25s ease;
  cursor: pointer;
}
#volume-button:hover {
  background-color: #33445ca8;
}
#volume-button:active {
  background-color: #476188af;
}
#volume-button.volume-3{
  content:url("../../ressources/images/volume-3.png");
}
#volume-button.volume-2{
  content:url("../../ressources/images/volume-2.png");
}
#volume-button.volume-1{
  content:url("../../ressources/images/volume-1.png");
}
#volume-button.volume-muted{
  content:url("../../ressources/images/volume-muted.png");
}

#volume-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 120px;
  height: 6px;
  background: linear-gradient(to right, #1db954 50%, #555 50%); /* 1db954 = vert spotify, change à ta sauce */
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: 3px solid green;
  transition: background 0.3s ease;
}

#volume-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  border: 2px solid white;
}

#volume-slider::-moz-range-track {
  background: linear-gradient(to right, #1db954 50%, #555 50%);
  height: 6px;
  border-radius: 3px;
}
