.fade-out {
  opacity: 0;
  transition: opacity 0.125s ease-out;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.25s ease-in;
}
.fade-in-active {
  opacity: 1;
}


#birdlists-page {
  margin-top: 40px;
}

#birdlists-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#back-button {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding: 1em;
  border: 1px solid black;
  background: #69e5f6;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.75rem;
  transition: 0.25s ease;
}
#back-button:hover {
  background: rgb(128, 213, 224);
}
#back-button:active {
  background: rgb(110, 184, 194);
}


#my-lists {
  /* display: flex; */
  flex-direction: column;
}


.list-cell {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  height: 128px;
  margin: 16px;
  padding: 16px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 8px;
}
.list-title{
  margin-bottom: 8px;
}

.list-cell button {
  margin: 4px;
  padding: 8px;
  cursor: pointer;
  transition: 0.25s ease;
}

.list-cell button img {
  height: 16px;
}

.edit-button {
  background-color: rgb(239, 221, 151);
}

.edit-button:hover {
  background-color: cornsilk;
}

.load-button {
  width: 80px;
  background-color: rgb(0, 194, 194);
}
.load-button:hover{
  background-color: aqua;
}


.current-list-p {
  font-style: italic;
}


#default-list {
  display: block;
  width: 320px;
  margin: auto;
  margin-bottom: 16px;
}
#create-list-button {
  display: block;
  margin: auto;
  margin-top: 16px;
}


/* Page de modification d'une liste */
#list-edit-page {
  margin: 4px;
  margin-top: 36px;
}

.selected-list {
  border: 4px solid red;
}

#list-edit-bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  margin: 16px;
  padding: 16px;
}

#list-edit-bottom-section * {
  margin: 16px;
}

#list-edit-save-button {
  background-color: greenyellow;
  font-weight: bolder;
}
#list-edit-back-button {
  background-color: grey;
  font-weight: bold;
}
#list-edit-delete-button {
  background-color: red;
  position: absolute;
  right: 8px;
  bottom: 4px;
  font-size: 0.75em;
  font-weight: bold;
}