/* ------------------------------------------------------- */
/*                   Barre de recherche                    */
/* ------------------------------------------------------- */
.field .control.has-icons-left.has-icons-right {
  display: flex;
  align-items: center;
}

#search-bar-field, #search-bar-field-list-edit {
  position: sticky;
  top: 0;
  z-index: 10; /* pour être au-dessus des oiseaux */
  opacity: 0.75;
  transition: opacity 0.25s ease;
}
#search-bar-field:hover, #search-bar-field-list-edit:hover {
  opacity: 1;
}


#search-bar-control {
  /* width: 50%; */
  width: 420px;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#search-bar-control:hover #clear-search, #search-bar-control-list-edit:hover #clear-search-list-edit {
  opacity: 1;
}


#search-bar, #search-bar-list-edit {
  padding-right: 2.5em; /* assez de place pour le bouton clear */
  height: 60px;
  border-radius: 24px;
}

#clear-search, #clear-search-list-edit {
  pointer-events: auto;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* pour que ça suive la hauteur de l’input */
  padding: 0 0.5em;
  font-size: 1rem; /* pour forcer la taille */
  color: #aaa; /* couleur par défaut */
  opacity: 0;
  transition: opacity 0.25s ease;
}

#clear-search:hover, #clear-search-list-edit:hover {
  color: #c2c2c2;
}
#clear-search:active, #clear-search-list-edit:active {
  color: #838383;
}



/* ------------------------------------------------------- */
/*                   Section des oiseaux                   */
/* ------------------------------------------------------- */
.quiz {
  margin-top: 12px;
  /* max-height: 640px; */
  max-height: calc(100vh - 180px);
  overflow-y: scroll;
  margin-bottom:4px;
}

.quiz button {
  /* margin: 5px; */
  padding: 10px 16px;
  font-size: 1.2em;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background 0.2s ease;
}
.quiz button:hover {
  background: #2563eb;
}
.quiz button{
  display: none;
  height: 60px;
  width: 240px!important;
}

/* Scrollbar des oiseaux */
.quiz::-webkit-scrollbar {
  width: 8px;
}

.quiz::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.quiz::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

.quiz::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}

#bird-animation {
  height: 64px;
  width: 64px;
  margin: 10px;
}

/* ------------------------------------------------------- */
/*                   Grille des oiseaux                    */
/* ------------------------------------------------------- */
.bird-grid {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  /* padding: 10px; */
  justify-content: start; /* ou center si tu veux centrer */
}

.cell {
  display: flex;
  align-items: center; /* centre verticalement */
  padding: 0.25rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  transition: 0.35s ease, border 0.15s ease;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  margin-top: 4px;
  margin-bottom: 4px;
}
.cell.small {
  height: 48px;
  min-width: 80px;
  font-size: 0.8em;
}
.cell.default {
  height: 72px;
  min-width: 100px;
  font-size: 0.9em;
}
.cell.big {
  height: 96px;
  min-width: 120px;
  font-size: 1.2em;
}

.cell img {
  height: auto;
  margin-top: 4px;
  border-radius: 8px;
  transition: 0.35s ease, border 0.15s ease;
}
.cell.small img {
  max-width: 56px;
  max-height: 48px;
}
.cell.default img {
  max-width: 80px;
  max-height: 72px;
}
.cell.big img {
  max-width: 104px;
  max-height: 96px;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color:black;
  border: 2px solid black;
  transform: translateY(-8px);
  margin-top: 0px;
  margin-bottom: 0px;
}
.cell.small:hover{
  height: 56px;
  font-size: 0.9em;
}
.cell.default:hover{
  height: 80px;
  font-size: 1em;
}
.cell.big:hover{
  height: 104px;
  font-size: 1.4em;
}
/* .cell:hover img {
  margin-top: -8px;
} */

.cell .bird-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cell .bird-name-french {
  display: block;
  color: white;
}
.cell:hover .bird-name-french {
  color:gold;
}
.cell .bird-name-latin {
  display: block;
  color: rgb(200, 200, 200);
  font-size: 0.75em;
  font-style: italic;
}
.cell:hover .bird-name-latin {
  color:goldenrod;
}


/* Couleurs selon le type */
.oiseau-commun {
  background-color: rgba(200, 140, 80, 0.75);
}
.oiseau-commun-opaque {
  background-color: rgb(200, 140, 80);
  border: 2px solid rgb(200, 140, 80);
}
.oiseau-eau {
  background-color: rgba(106, 165, 195, 0.75);
}
.oiseau-eau-opaque {
  background-color: rgb(106, 165, 195);
  border: 2px solid rgb(106, 165, 195);
}
.oiseau-foret {
  background-color: rgba(50, 80, 42, 0.75);
}
.oiseau-foret-opaque {
  background-color: rgb(74, 119, 61);
  border: 2px solid rgb(74, 119, 61);
}
.oiseau-marin {
  background-color: rgba(62, 119, 147, 0.75);
}
.oiseau-marin-opaque {
  background-color: rgb(62, 119, 147);
  border: 2px solid rgb(62, 119, 147);
}
.oiseau-montagne {
  background-color: rgba(155, 135, 122, 0.75);
}
.oiseau-montagne-opaque {
  background-color: rgb(155, 135, 122);
  border: 2px solid rgb(155, 135, 122);
}
.oiseau-nocturne {
  background-color: rgba(99, 94, 91, 0.75);
}
.oiseau-nocturne-opaque {
  background-color: rgb(99, 94, 91);
  border: 2px solid rgb(99, 94, 91);
}
.oiseau-plaine {
  background-color: rgba(142, 142, 56, 0.75);
}
.oiseau-plaine-opaque {
  background-color: rgb(142, 142, 56);
  border: 2px solid rgb(142, 142, 56);
}

.oiseau-unselected {
  background-color: rgba(0, 0, 0, 0.25)!important;
  border: 2px solid rgb(112, 112, 112)!important;
}



button.play-bird {
  background-color: blue;
  height: 12px!important;
  width: 12px!important;
  padding: 0!important;
}
button.validate-bird {
  background-color: green;
  width: 96px!important;

}
.bird-img {
  max-width: 64px;
  max-height: 64px;
  object-fit: contain;
  /* border-radius: 8px; */
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Menu avec le clic droit sur un oiseau */
#context-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#context-menu span {
  display: block;
  padding: 4px;
  border-radius: 4px;
}
#context-menu span:hover {
  background: #88a4af;
}



#bird-face img {
  border-radius: 5%;
  max-height: 300px;
}
/*
#bird-face:hover {
  border: 2px dashed black;
  cursor: pointer;
} */
#previous-bird {
  height: 80px;
  width: 100%;
}
#previous-bird button {
  display: inline-block;
  color: white;
  width: 300px!important;
}