*, #search-bar {
  /* Défaut: police du système */
  /* font-family: system-ui; */
  
  /* Moche évidemment */
  /* font-family: 'Courier New', Courier, monospace; */

  /* Intéressant */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

  /* Intéressant aussi */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

  /* Bien pour les tooltips et le more-menu */
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */

  /* font-family:  Garamond, sans-serif; */
  font-family: Tahoma, sans-serif;

}

html,body {
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  background: #f1f5f9;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: url('res://images/default.png') no-repeat center center fixed;
  background-size: cover;
}

.columns {
  position: relative;
  z-index: 1;
  flex: 1;
}


#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#blindtest-content {
  flex-grow: 1;
  position: absolute;
  top: 0px; /* hauteur exacte de ton #titlebar */
  bottom: 132px; /* hauteur approximative de ton #controls */
  left: 0;
  right: 0;
  overflow-y: hidden;
}
#blindtest-content::after {
  content: "";
  display: block;
  height: 132px; /* hauteur approximative de ton #controls */
}

#container {
  max-width: 1000px;
  margin: auto;
  padding: 52px 20px 20px; /* top = 32 + 20 de marge */
}


section {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.65) !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#colonne-gauche, #list-edit-left-column {
  width: 160px;
}



/* MISCELLANEOUS */
h1 {
  text-align: center;
  margin-bottom: 30px;
}
button:disabled {
  cursor: default !important;
}

button:not(.disabled) {
  cursor: pointer;
}


table.table tr th {
  text-align: center!important;
}

.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}