html,body {
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f5f9;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: url('../ressources/images/default.png') no-repeat center center fixed;
  background-size: cover;
}
#overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(100, 100, 100, 0.35);
  z-index: 0;
}

#context-menu {
  display: flex;
  flex-direction: column;
  align-items: center; /* si tu veux centrer */
}
#context-menu span {
  display: block;
}
#context-menu span:hover {
  background: #555;
}



.columns {
  position: relative;
  z-index: 1;
  flex: 1;
}

#titlebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 9999; /* pour être sûr qu'il passe devant */
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  color: white;
  padding: 0 10px;
}

#titlebar button {
  -webkit-app-region: no-drag;
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 8px;
}
#titlebar .title {
  margin: 0;
  padding: 0;
  line-height: 32px; /* même hauteur que le titlebar */
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}


#titlebar button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#drag-region {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#container {
  max-width: 1000px;
  margin: auto;
  padding: 52px 20px 20px; /* top = 32 + 20 de marge */
}



h1 {
  text-align: center;
  margin-bottom: 30px;
}

section {
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  /* background: #ffffff; */
  background-color: rgba(255, 255, 255, 0.65) !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#feedback {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

#type-selection {
  text-align: left;
}
#type-selection label {
  display: block;
  margin-bottom: 0.5rem;
}


#quiz {
  margin-top:12px;
  max-height: 640px;
}
#controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-radius: 0;
  margin: 0;
  margin-top: auto;
}
#controls .buttons {
  display: flex;
  flex-wrap: wrap; /* au cas où ça déborde */
  justify-content: center; /* centrer les boutons */
  gap: 0.5rem; /* petit espace entre boutons */
}
#controls button,
#quiz button {
  height: 40px;
  width: 40px;
  /* margin: 5px; */
  padding: 10px 16px;
  font-size: 1.2em;
  cursor: pointer;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background 0.2s ease;
}
#controls button:hover,
#quiz button:hover {
  background: #2563eb;
}

#controls #pause-button{
  width: 180px;
}
#quiz button{
  display: none;
  height: 60px;
  width: 240px!important;
}



/* ========================================= */
/*              Bird List v2                 */
/* ========================================= */

.grid {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
  /* padding: 10px; */
  justify-content: start; /* ou center si tu veux centrer */
}

.cell {
  display: flex;
  height: 64px;
  align-items: center; /* centre verticalement */
  gap: 1rem; /* espace entre image et texte */
  background: #00b89c;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  transition: 0.5s ease;
  cursor: pointer;
}

.cell img {
  max-width: 80px;
  height: auto;
  border-radius: 8px;
}

.cell:hover {
  margin: 0;
}
.cell .bird-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 16px; */
}

.cell .bird-name-french {
  display: block;
  color: white;
}
.cell .bird-name-latin {
  display: block;
  color: rgb(230, 230, 230);
  font-size: 0.9em;
  font-style: italic;
}
.cell.oiseau-commun {
  background-color: rgba(155, 135, 122, 0.75);
}
.cell.oiseau-plaine {
  background-color: rgba(124, 195, 106, 0.75);
}
.cell.oiseau-eau {
  background-color: rgba(106, 165, 195, 0.75);
}


button.play-bird {
  background-color: blue;
  height: 12px!important;
  width: 12px!important;
  padding: 0!important;
}
button.validate-bird {
  background-color: green;
  width: 96px!important;

}
.bird-img {
  max-width: 64px;
  max-height: 64px;
  object-fit: contain;
  border-radius: 8px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* ========================================= */
/*              Bird List v1                 */
/* ========================================= */

#bird-list {
  display: none;
}
/* #bird-list {
  display: none;
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9fafb;
}

#bird-list li {
  padding: 8px 12px;
  border-bottom: 1px solid #e5e7eb;
  cursor: pointer;
}

#bird-list li:hover {
  background: #e0f2fe;
}

#bird-list li.selected {
  background: #93c5fd;
  color: white;
  font-weight: bold;
}

#bird-list::-webkit-scrollbar {
  width: 8px;
}

#bird-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#bird-list::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

#bird-list::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
} */


/* ========================================= */
/*                  POPUP                    */
/* ========================================= */

/* Animation de la pop-up */
@keyframes popupIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes popupOut {
  0% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0.5);
  }
}

#result-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  z-index: 999;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: #f7f7f7d2; /* couleur Bulma is-info */
  color: white;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#result-image {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

#result-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


#result-birdname {
  display: block;
  padding: 20px;
  /* margin-top: 20px; */
  color: black;
  background-color: rgba(247, 247, 247, 0.637);
  border-radius: 50%;
}

#result-birdname-latin {
  display: block;
  font-style: italic;
  font-size: 0.7em;
  margin-top: 0.1rem;
  /* margin-top: 0; */
  line-height: 1;
}