html,body {
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f5f9;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: url('../ressources/images/default.png') no-repeat center center fixed;
  background-size: cover;
}
#overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(100, 100, 100, 0.35);
  z-index: 0;
}

#context-menu {
  display: flex;
  flex-direction: column;
  align-items: center; /* si tu veux centrer */
}
#context-menu span {
  display: block;
  padding: 4px;
  border-radius: 4px;
}
#context-menu span:hover {
  background: #88a4af;
}



.columns {
  position: relative;
  z-index: 1;
  flex: 1;
}

#titlebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 9999; /* pour être sûr qu'il passe devant */
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  color: white;
  padding: 0 10px;
}

#titlebar button {
  -webkit-app-region: no-drag;
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 8px;
}
#titlebar .title {
  margin: 0;
  padding: 0;
  line-height: 32px; /* même hauteur que le titlebar */
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}


#titlebar button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#drag-region {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#container {
  max-width: 1000px;
  margin: auto;
  padding: 52px 20px 20px; /* top = 32 + 20 de marge */
}



h1 {
  text-align: center;
  margin-bottom: 30px;
}

section {
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  /* background: #ffffff; */
  background-color: rgba(255, 255, 255, 0.65) !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#colonne-gauche{
  width: 220px;
}
#feedback {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: bold;
}

#type-selection {
  text-align: left;
}
#type-selection label {
  display: block;
  margin-bottom: 0.5rem;
}
#type-selection .buttons {
  justify-content: flex-start;
  align-items: flex-start; /* au cas où */
  flex-direction: column; /* pour rester en colonne */
}

#type-selection .button {
  opacity: 0.7;
  width: 104px;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: 0.15s ease;
}

#type-selection .button.is-selected {
  opacity: 1;
  border-color: black;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
#type-selection .button:hover, #type-selection .button:active {
  border-radius: 6px;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
}
#type-selection .button:active {
  transform: scale(0.95);
}


#tooltip ul {
  text-align: left;
}
#tooltip li {
  list-style-type: square;
  margin-bottom: 4px;
}
.small-text {
  font-size: 12px;
}




.field .control.has-icons-left.has-icons-right {
  display: flex;
  align-items: center;
}

#search-bar-control {
  /* width: 50%; */
  width: 420px;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}


#search-bar {
  padding-right: 2.5em; /* assez de place pour le bouton clear */
  height: 50px;
  border-radius: 24px;
}

#clear-search {
  pointer-events: auto;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* pour que ça suive la hauteur de l’input */
  padding: 0 0.5em;
  font-size: 1rem; /* pour forcer la taille */
  color: #aaa; /* couleur par défaut */
}

#clear-search:hover {
  color: #c2c2c2;
}
#clear-search:active {
  color: #838383;
}


#quiz {
  margin-top:12px;
  /* max-height: 640px; */
  max-height: 80vh; /* ou la hauteur que tu veux */
  overflow-y: scroll;
}



#bird-animation {
  height: 64px;
  width: 64px;
  margin: 10px;
}
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex-grow: 1;
}

#controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem 1rem;
  background-color: #1f2937!important; /* fond foncé type Spotify */
  color: white;
  border-top: 1px solid #333;
  margin-bottom: 0!important;
}

#progress-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right,#1d47b9 0%, #555 0%);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-bottom: 6px;
  transition: background 0.3s ease;
  /* transition: none !important; */
}

#progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  border: 3px solid #1d47b9;
  cursor: pointer;
}

#progress-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  border: 2px solid white;
  cursor: pointer;
}



#controls-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#controls-left img {
  width: 48px;
  height: 48px;
}

#controls-center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 80px;
}

#controls-center .button {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #5f7da7;
  border: 2px solid #496081;
}
#controls-center .button:hover:not(.disabled) {
  background: #496081;
}
#controls-center .button.active:not(.disabled), #controls-center .button:active:not(.disabled) {
  background: #496081; /* le même effet que :hover */
  transform: scale(0.95); /* petit effet de clic visuel */
}
#controls-center .button img {
  width: 24px;
  height: 24px;
}

#replay-button, #forward-button {
  margin-right: 24px;
}

#controls-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#volume-slider {
  width: 120px;
  /* color: black; */
}
#volume-button {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  transition: 0.25s ease;
  cursor: pointer;
}
#volume-button:hover {
  background-color: #33445ca8;
}
#volume-button:active {
  background-color: #476188af;
}
#volume-button.volume-3{
  content:url("../ressources/images/volume-3.png");
}
#volume-button.volume-2{
  content:url("../ressources/images/volume-2.png");
}
#volume-button.volume-1{
  content:url("../ressources/images/volume-1.png");
}
#volume-button.volume-muted{
  content:url("../ressources/images/volume-muted.png");
}
#volume-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 120px;
  height: 6px;
  background: linear-gradient(to right, #1db954 50%, #555 50%); /* 1db954 = vert spotify, change à ta sauce */
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: 3px solid green;
  transition: background 0.3s ease;
}

#volume-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  border: 2px solid white;
}

#volume-slider::-moz-range-track {
  background: linear-gradient(to right, #1db954 50%, #555 50%);
  height: 6px;
  border-radius: 3px;
}




#quiz button {
  /* margin: 5px; */
  padding: 10px 16px;
  font-size: 1.2em;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background 0.2s ease;
}
button:disabled {
  cursor: default !important;
}

button:not(.disabled) {
  cursor: pointer;
}
#quiz button:hover {
  background: #2563eb;
}
#quiz button{
  display: none;
  height: 60px;
  width: 240px!important;
}

/* Scrollbar des oiseaux */
#quiz::-webkit-scrollbar {
  width: 8px;
}

#quiz::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#quiz::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

#quiz::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}

/* ========================================= */
/*              Bird List v2                 */
/* ========================================= */

.grid {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  /* padding: 10px; */
  justify-content: start; /* ou center si tu veux centrer */
}

.cell {
  display: flex;
  min-width: 100px;
  height: 64px;
  align-items: center; /* centre verticalement */
  background: #00b89c;
  padding: 0.25rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  transition: 0.5s ease;
  cursor: pointer;
}

.cell img {
  max-width: 80px;
  height: auto;
  border-radius: 8px;
}

.cell:hover {
  padding: 1rem;
}
.cell .bird-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 16px; */
}

.cell .bird-name-french {
  display: block;
  color: white;
}
.cell .bird-name-latin {
  display: block;
  color: rgb(230, 230, 230);
  font-size: 0.9em;
  font-style: italic;
}
.oiseau-commun {
  background-color: rgba(155, 135, 122, 0.75);
}
.oiseau-commun.button.is-selected{
  background-color: rgb(155, 135, 122);
}
.oiseau-plaine {
  background-color: rgba(124, 195, 106, 0.75);
}
.oiseau-plaine.button.is-selected{
  background-color: rgb(124, 195, 106);
}
.oiseau-eau {
  background-color: rgba(106, 165, 195, 0.75);
}
.oiseau-eau.button.is-selected {
  background-color: rgb(106, 165, 195);
}


button.play-bird {
  background-color: blue;
  height: 12px!important;
  width: 12px!important;
  padding: 0!important;
}
button.validate-bird {
  background-color: green;
  width: 96px!important;

}
.bird-img {
  max-width: 64px;
  max-height: 64px;
  object-fit: contain;
  border-radius: 8px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


/* ========================================= */
/*                  POPUP                    */
/* ========================================= */

/* Animation de la pop-up */
@keyframes popupIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes popupOut {
  0% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0.5);
  }
}

#result-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  z-index: 9999;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: #f7f7f7d2; /* couleur Bulma is-info */
  color: white;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
/* #result-text {
  border-radius: 8px;
} */
#result-image {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
#close-popup-button {
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 24px;
  transition: 0.25s ease;
  background: none;
}
#close-popup-button:hover {
  background-color: #c2c2c2;
}
#close-popup-button:active {
  background-color: #838383;
}

#result-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


#result-birdname {
  display: block;
  padding: 20px;
  /* margin-top: 20px; */
  color: black;
  background-color: rgba(247, 247, 247, 0.637);
  border-radius: 50%;
}

#result-birdname-latin {
  display: block;
  font-style: italic;
  font-size: 0.7em;
  margin-top: 0.1rem;
  /* margin-top: 0; */
  line-height: 1;
}
#next-button {
  height: 56px;
  width: 240px;
  border-radius: 16px;
}
#next-button:hover {
  background: #496081;
}
#next-button:active {
  background: #496081; /* le même effet que :hover */
  transform: scale(0.95); /* petit effet de clic visuel */
}